@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body {
  background-color: #00CED1;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  border-radius: 10px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
}
.content h2 {
  padding: 0;
  margin: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
  border-radius: 10px;
  padding: 0px;
}

.project {
  padding: 10px;
  border-radius: 2px;
  margin: 2px;
}
